[package]
name = "websocket-websys"
version = "0.1.0"
repository.workspace = true
readme.workspace = true
keywords.workspace = true
categories.workspace = true
license.workspace = true
edition.workspace = true

[dependencies]
futures = "0.3.28"
js-sys = "0.3.64"
libp2p-core = "0.41.0"
wasm-bindgen = "0.2.87"

[dependencies.web-sys]
version = "0.3.22"
features = [
  "BinaryType",
  "Blob",
  "ErrorEvent",
  "FileReader",
  "MessageEvent",
  "ProgressEvent",
  "CloseEvent",
  "WebSocket",
]

[lints]
workspace = true
